doctype html
html(lang="en")
body
    - let salutation = user.firstName ? " " + user.firstName : "";
    h2 Hi#{salutation},
    a(href=webserver + "/verify" + urlParams) Click here to verify your #{message.channel}.